@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;


.about {
    @include desktop {
        position: absolute;
        z-index: 1;
        background-color: $Main;
        top: 125px;
        left: 40px;
        width: 25vw;
        height: 10vh;
        border-radius: 3px;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);

    }

    &__title {
        color: $Casa-Blue;
        font-weight: 600;
        padding-bottom: 10px;
        font-size: 2.5rem;
        line-height: 32px;

        @include tablet {
            padding-top: 30px;
        }

        @include desktop {
            font-size: 4.5rem;
            margin-left: 20px;
        }
    }

    &__mission--image {
        width: 80%;
        height: 40%;
        margin-left: 40px;

        @include tablet {
            margin-left: 75px;
        }

        @include desktop {
            width: 60%;
            margin-left: 270px;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 1.8rem;
        width: 80%;
        padding-left: 40px;
        margin-top: 20px;
        text-align: center;

        @include tablet {
            font-size: 2rem;
            line-height: 30px;
            width: 75%;
            text-align: left;
            margin-left: 90px;
        }

        @include desktop {
            margin-left: 132px;
            width: 75%;
            font-size: 2.5rem;
        }
    }

    &__container {
        background-color: $Main;
    }

    &__paragraph--sub {
        font-size: 2rem;
        color: $Casa-Blue;
        width: 80%;
        margin-top: 20px;
        margin-left: 5px;
        position: absolute;
        z-index: 1;
        background-color: White;
        padding: 10px;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);

        @include tablet {
            font-size: 2.5rem;
            width: 50%;
            margin-left: 22px;
            padding: 30px;
        }

        @include desktop {
            font-size: 2.8rem;
            width: 44%;
            padding: 36px;
            margin-left: 50px;
        }

    }

    &__paragraph--image {
        padding-top: 70px;
        width: 75%;

        @include tablet {
            padding-top: 75px;
        }
    }

    &__paragraph--community {
        width: 95%;
        height: 35vh;
        padding-left: 108px;

        @include tablet {
            width: 90%;
            height: 38vh;
            padding-left: 210px;
        }

        @include desktop {
            width: 84%;
            height: 40vh;
            padding-left: 320px;
        }
    }

    &__mission--two {
        width: 80%;
        height: 40%;
        margin-left: 20px;
        margin-top: 20px;

        @include desktop {
            width: 65%;
            margin-left: 40px;
            margin-top: 40px;
        }
    }

    &__text--second {
        color: $Casa-Blue;
        font-weight: 300;
        font-size: 1.8rem;
        width: 80%;
        padding-left: 40px;
        margin-top: 20px;
        text-align: center;

        @include tablet {
            font-size: 2.5rem;
            line-height: 25px;
            font-weight: 400;
            width: 64%;
            text-align: left;
            margin-left: 205px;
            padding: 30px;
            background-color: white;
            box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);

        }

        @include desktop {
            font-size: 2.8rem;
            line-height: 32px;
            margin-left: 475px;
            width: 45%;
            padding: 50px;
        }

    }
}