@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.hero {
    &__image {
        width: 100%;
        height: 30vh;
        opacity: 90%;
        // margin-top: 10px;

        @include tablet {
            height: 45vh;
        }

        @include desktop {
            height: 50vh;
        }
    }
}


.gallery {
    background-color: $Main;
    padding-top: 10px;

    @include tablet {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    &__photos {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        @include desktop {
            padding-top: 20px;
            padding-bottom: 50px;
        }
    }

    &__image {
        width: 90%;
        display: block;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5%;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);

        &:hover {

            filter: none;
            -webkit-filter: grayscale(0);

        }

        @include tablet {
            width: 30%;
            padding: 10px;
        }

        @include desktop {
            width: 25%;
            padding: 10px;
            margin-left: 0;
            margin-right: 0;
        }
    }
}