@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;


.hero {
    &__image {
        width: 100%;
        height: 30vh;
        opacity: 90%;
        // margin-top: 10px;

        @include tablet {
            height: 45vh;
        }

        @include desktop {
            height: 50vh;
        }
    }
}